:root {
    --color-primary: #1ED760;
    --color-background: #000000;
    --color-card-bg: #282828;
    --color-text-main: #FFFFFF;
    --color-text-secondary: #B3B3B3;
    --color-accent-blue: #0070f3;
    --color-active-line: #1DB954;
    --color-text-black: #333;
    --color-background: #000000;
    --font-display: 'Work Sans', sans-serif;
}
@font-face {
    font-family: 'Greek';
    src: url('../fonts/dalek_pinpoint/DalekPinpointBold.ttf') format('truetype');
}


body {
    background-color: var(--color-background);
    font-family: var(--font-display);
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    background-size: cover;
    color: var(--cor-texto-claro);
}

main {
    margin-top: 80px;
    flex-grow: 1;
    overflow-y: auto;
}

/* Scrollbar personalizado */
main::-webkit-scrollbar {
    width: clamp(0.1rem, 0.7vw, 0.5rem);
}
main::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #c0c0c0 20%, white 50%);
    border-radius: var(--radius);
}
.main-content-wrapper{
    display: flex;
    min-width: 1400px;
    padding: 2% 10%;
    background: linear-gradient(rgba(0, 0, 0, 0.5)), url('https://images.alphacoders.com/134/thumb-1920-1343899.png');
    /* background-size: cover;
    background-position: center; */
    box-shadow: inset 0px 20px 30px var(--color-background);
}

.banner-search-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url('https://images8.alphacoders.com/139/1396431.png');
    background-size: cover;
    background-position: center;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    box-shadow: inset 0px -20px 30px var(--color-background);
}

.search-container {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.94);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    padding: 8px 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: 0.2s all ease-in-out;
}
.search-bar:focus-within{
    background-color: rgb(255, 255, 255);
}

.search-bar i {
    font-size: 1.2rem;
    color: var(--color-text-secondary);
    margin-right: 10px;
}

#searchInput {
    flex-grow: 1;
    border: none;
    background: none;
    color: var(--color-text-black);
    font-size: 1.1rem;
    padding: 5px 0;
    outline: none;
}

.search-btn {
    background: none;
    border: none;
    color: var(--color-text-main);
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0 5px;
}

.sidebar-genres {
    width: 200px;
    padding-right: 30px;
    flex-shrink: 0;
}

.main-content {
    flex-grow: 1;
    padding-left: 30px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-title {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-text-secondary);
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    min-height: 70px;
}

.tags-sidebar {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tag-item {
    padding: 8px 0;
    cursor: pointer;
    border-left: 3px solid transparent;
    transition: all 0.2s;
}

.tag-item .tag {
    display: block;
    padding-left: 15px;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color-text-secondary);
    transition: color 0.2s;
}

.tag-item:hover .tag {
    color: var(--color-text-main);
}

.tag-item.active {
    border-left-color: var(--color-active-line);
}

.tag-item.active .tag {
    color: var(--color-active-line);
    font-weight: 800;
}


.content-header {
    margin-bottom: 30px;
}

#current-genre-title {
    font-family: "Greek", sans-serif;
    font-size: 3.5rem;
    font-weight: 800;
    margin: 0 0 10px 0;
    color: var(--color-text-main);
    min-height: 70px;
}

.artists-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 30px;
}

.artist-card-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: var(--color-background);
    position: relative;
    overflow: visible;
}

.artist-card {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 50%; 
    background-color: var(--color-card-bg);
    cursor: pointer;
    transition: transform 0.3s;
}

.artist-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.artist-card:hover img {
    filter: brightness(0.2);
    transition: 0.3s ease-in-out;
}

.artist-card:hover .card-overlay {
    opacity: 1;
}

.artist-card:hover .popularity-badge {
    opacity: 0;
}

.card-overlay {
    position: absolute;
    top: -45px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.play-icon {
    font-size: 3.5rem;
    color: var(--color-active-line);
}

.artist-name {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 15px 0 5px 0;
    color: var(--color-text-main);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Badge de Popularidade */
.popularity-badge {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;

    background-color: rgb(0, 0, 0);
    padding: 4px 8px;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: opacity 0.3s;
}

.popularity-badge i {
    font-size: 0.9rem;
}

.popularity-badge.hot {
    color: #FF4500;
}
.popularity-badge.high {
    color: #FFD700;
}
.popularity-badge.normal {
    color: var(--color-text-secondary);
}

/* -------------------- */
.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    margin-top: 40px;
}

.pagination-controls button {
    background-color: var(--color-card-bg);
    color: var(--color-text-main);
    border: 1px solid var(--color-text-secondary);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, opacity 0.2s;
}

.pagination-controls button:hover:not(:disabled) {
    background-color: var(--color-text-secondary);
}

.pagination-controls button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.loading-message, .error-message, .no-results {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 1.2rem;
    padding: 50px 0;
    color: var(--color-text-secondary);
}